/* common sections */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
main {
  display: grid;
  justify-content: center;
  grid-template-columns: 85%;
}
/* top banner section */
.top-banner {
  height: 495px;
  margin: 50px 0 50px 0;
}
.top-banner .banner {
  background: #000;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-items: center;
}
.top-banner .banner .banner-title {
  color: white;
  margin-left: 5%;
  width: 75%;
}
.top-banner .banner .banner-title h1 {
  font-size: 50px;
  font-weight: 900;
}

.top-banner .banner .image img {
  width: 450px;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
}

/* middle section */

.middle {
  display: flex;
  justify-content: space-between;
}
.middle .page-links {
  background-color: #000;
  border-radius: 5px;
  height: 330px;
  width: 280px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.middle .page-links a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 20px;
  color: black;
  background-color: white;
  width: 60%;
  border: 1px solid grey;
  border-radius: 5px;
}
#upcoming-match {
  background-color: red;
  color: white;
}
#blog-link:hover {
  color: tomato;
}
.middle .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 290px);
}
.blogs .blog {
  width: 240px;
  margin: 5px;
  border: 2px solid rgb(207, 206, 206);
  border-radius: 9px;
}
.blogs .blog .flag-images {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.blogs .blog .flag-images p {
  font-weight: 900;
  font-size: 13px;
}
.blogs .blog .flag-images img {
  width: 30%;
}
.blogs .blog .info-under-img {
  margin-top: 50px;
  text-align: center;
}
.blogs .blog .info-under-img h2 {
  font-size: 15px;
  font-weight: 700;
}
.blogs .blog .info-under-img p {
  font-size: 13px;
  color: gray;
}

/* footer section */

footer {
  margin-top: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 350px;
}
footer hr.footer-hr {
  width: 80%;
  border: 0.1px solid grey;
}
footer h1 {
  font-weight: 600;
}
footer ul {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
footer ul li {
  list-style: none;
  color: gray;
  font-size: 15px;
}
